// Font
@import 'font/sukhumvitset/stylesheet.css';
@import 'libraries/font-awesome/4.7.0/css/font-awesome.css';
@import 'libraries/font-propshop/css/Glyphter.css';

// Variable
@import 'stylesheet/variable';

// Image Gallery
@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

// Ant Design
@import '~antd/dist/antd.css';

// Main
@import 'stylesheet/main';

// Pages
@import 'stylesheet/pages/home';
@import 'stylesheet/pages/sell';
@import 'stylesheet/pages/agent';
@import 'stylesheet/pages/agent-detail';
@import 'stylesheet/pages/realestate';
@import 'stylesheet/pages/login';
@import 'stylesheet/pages/register';
@import 'stylesheet/pages/forgotpassword';
@import 'stylesheet/pages/profile';
@import 'stylesheet/pages/changepassword';
@import 'stylesheet/pages/news';
@import 'stylesheet/pages/account';
@import 'stylesheet/pages/my-property';
@import 'stylesheet/pages/my-property-edit';

// Containers
@import 'stylesheet/containers/header';
@import 'stylesheet/containers/footer';
@import 'stylesheet/containers/banner-realEstate';
@import 'stylesheet/containers/property-list';
@import 'stylesheet/containers/nearby-place';
@import 'stylesheet/containers/social-login';
@import 'stylesheet/containers/member-info';

// Components
@import 'stylesheet/components/button';
@import 'stylesheet/components/input';
@import 'stylesheet/components/select';
@import 'stylesheet/components/checkbox';
@import 'stylesheet/components/radio';
@import 'stylesheet/components/rate';
@import 'stylesheet/components/realestate-item';
@import 'stylesheet/components/notification';
@import 'stylesheet/components/select-price';
@import 'stylesheet/components/map-location';
@import 'stylesheet/components/news-item';
@import 'stylesheet/components/hot-news';
@import 'stylesheet/components/news-banner';