.BannerRealEstate {

	height: 100%;
	padding-bottom: 50px;

	.image-gallery,
	.image-gallery-content,
	.image-gallery-slide-wrapper,
	.image-gallery-swipe,
	.image-gallery-slides,
	.image-gallery-slide,
	.image-gallery-image {
		height: 100%;
	}
	.image-gallery-image {
		position: relative;
	}
	.image-gallery-gradient {
		position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    background: linear-gradient(to bottom, transparent, #000000);
    z-index: 1;
	}
	.image-gallery-bullets .image-gallery-bullet {
		border-radius: 0;
	  padding: 8px;
	  box-shadow: none;
	  border: 2px solid #ffffff;
	}
	.image-gallery-bullets .image-gallery-bullet.active {
		background: #ac1a00;
	}
	.image-gallery-bullets .image-gallery-bullets-container {
		text-align: right;
	}
	.image-gallery-bullets {
		bottom: 25px;
		width: 93%;
	}
	.image-gallery-slide .image-gallery-description {
		left: 0;
    bottom: 0;
    background: none;
    padding: 30px;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

    div {
    	color: #ffffff;
    }
	.topic {
		font-size: 36px;
		color: #ffffff;
		margin-bottom: 15px;
	}
    .price {
	    font-size: 24px;
	    color: $main-bg;
    }
    .option {
    	margin-top: 5px;
    }
   	.option ul li {
   		list-style: none;
   		display: inline-block;
   		margin: 0 6px;
   	}
   	.option ul li:first-child {
   		margin-left: 0;
   	}
   	.option ul li:last-child {
   		margin-right: 0;
   	}
   	.option ul li span {
   		color: #ffffff;
   		margin: 0 10px;
   	}
   	.option ul li span.fa {
   		font-size: 24px;
   	}
   	.option ul li:first-child span {
   		margin-left: 0;
   	}
   	.option ul li:last-child span {
   		margin-right: 0;
   	}

	}

}

		