// Background
$main-bg: #88b840;

// Border
$border-color: #eeeeee;

// Text
$text-default: #484849;
$text-green: #8ebc42;
$text-gray: #999999;
$text-red: #db0018;

// Font
$sukumvit-thin: 'SukhumvitSet-Thin';
$sukumvit-medium: 'SukhumvitSet-Medium';
$sukumvit-text: 'SukhumvitSet-Text';
$sukumvit-bold: 'SukhumvitSet-Bold';
$sukumvit-light: 'SukhumvitSet-Light';
$sukumvit-semibold: 'SukhumvitSet-SemiBold';