<!DOCTYPE html>
<html>
<head>
	<title>Contact Agent</title>
</head>
<body style="margin: 0;">
	<center>
		<div class="body" style="width: 594px;">
			<div class="header" style="position: relative;">
				<div class="background"><img src="%BASE_IMAGES_URL%/background.jpg"></div>
				<div class="logo" style="position: absolute; top: 7px; left: 7px;"><img src="%BASE_IMAGES_URL%/logo.png"></div>
			</div>
			<div style="margin-top: 20px; line-height: 34px;">
				<div style="font-family: 'Myriad Pro'; font-size: 24px; color: #383839;">Thank you for your enquiry, %SEND_FROM%</div>
				<div style="font-family: 'Myriad Pro'; font-size: 16px; color: #383839;">The seller will be in contact with you shortly</div>
				<a href="%PROPERTY_URL%" target="_blank" style="font-family: 'Myriad Pro';
							    font-size: 16px;
							    color: #2b5cc8;
							    text-decoration: none;
							    border: 1px solid #cccccc;
							    border-radius: 4px;
							    padding: 0 12px;
							    display: inline-block;">
					%PROJECT%
				</a>
			</div>
			<div style="margin-top: 20px; margin-bottom: 40px; line-height: 25px; text-align: left;">
				<div>We have forwarded your request to owner: %OWNER%</div>
				<div><b>Message: </b>%MESSAGE%</div>
			</div>
			<div class="button">
				<a href="%PROPERTY_URL%" target="_blank" style="background-image: linear-gradient(to bottom, #76ae31, #6da12d);
											    padding: 15px;
											    padding-bottom: 13px;
											    width: 200px;
											    display: block;
											    border-radius: 4px;
											    box-shadow: 0px 2px 0px 0px #000000;
											    color: #ffffff;
											    text-decoration: none;
											    font-family: 'Myriad Pro';
											    font-size: 18px;">
				View the property
			</a>
			</div>
		</div>
	</body>
	</center>
</html>