<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body style="margin: 0;">
	<center>
		<div class="body" style="width: 594px;">
			<div class="header" style="position: relative;">
				<div class="background"><img src="%BASE_URL%/images/background.jpg"></div>
				<div class="logo" style="position: absolute; top: 7px; left: 7px;"><img src="%BASE_URL%/images/logo.png"></div>
			</div>
			<div class="label" style="font-family: 'Myriad Pro'; font-size: 24px; color: #383738; margin: 20px 0;">
				<div>Natpakorn Silapachai, your propterty #%PROPERTY_ID%</div>
				<div>has been successfully uploaded and is now live.</div>
			</div>
			<div class="button">
				<a href="#" style="background-image: linear-gradient(to bottom, #76ae31, #6da12d);
											    padding: 15px;
											    padding-bottom: 13px;
											    width: 200px;
											    display: block;
											    border-radius: 4px;
											    box-shadow: 0px 2px 0px 0px #000000;
											    color: #ffffff;
											    text-decoration: none;
											    font-family: 'Myriad Pro';
											    font-size: 18px;">
				Preview my property
			</a>
			</div>
		</div>
	</body>
	</center>
		
</html>