<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div style="margin: auto; font-family: Tahoma; width: 594px; color: #383839; padding-bottom: 70px;">
    <img src="http://i.imgur.com/sZJCvri.jpg" alt="" style="margin: 0 auto 40px auto;">
    <div style="text-align: center;">
      <h3 style="margin: 0;">Hello %USERNAME%</h3>
      <br>
      <a href="%REDIRECT_URL%" target="_blank">
        <button style="width: 300px; height: 50px; background: #76ae31; /* Old browsers */background: -moz-linear-gradient(top, #6da12d 0%, #76ae31 100%);background: -webkit-linear-gradient(top, #6da12d 0%,#76ae31 100%);background: linear-gradient(to bottom, #6da12d 0%,#76ae31 100%);box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);font-size: 18px;border: none;border-bottom: 2px solid #527822;border-radius: 4px;color: white;cursor: pointer; cursor: pointer;">
          Click for Verifiying
        </button>
      </a>
    </div>
  </div>
</body>
</html>