.NearbyPlace {

	.tabs-block {
		.type {
			position: relative;
			display: inline-block;
			width: 80px;
			height: 80px;
			background: #f6f6f6;
			margin: 0 4px;
			cursor: pointer;
			.item {
				position: absolute;
		    left: 50%;
		    top: 52%;
		    transform: translate(-50%,-50%);
		    text-align: center;
		    line-height: 20px;
		    .icon {
		    	font-size: 40px;
		    	color: $text-default;
		    }
		    .text {
		    	font-size: 12px;
		    	color: $text-default;
		    }
			}
		}
		.type.active {
			background: #87b740;
			.icon {
				color: #ffffff;
			}
			.text {
				color: #ffffff;
			}
		}
		.type:first-child {
			margin-left: 0;
		}
		.type:last-child {
			margin-right: 0;
		}
	}
	
}