.NewsItem {
  .list{
    min-height: 520px;
    margin-bottom: 30px;
    .image{
      width: 100%;
      height: 300px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title{
      font-size: 18px;
      font-family: $sukumvit-bold;
      color: $text-default;
      margin: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      max-height: 52px;
    }
    .date{
      font-size: 14px;
      color: $text-green;
      margin: 10px 0;
    }
    .description{
      font-size: 14px;
      color: $text-default;
      margin: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      max-height: 85px;
    }
    .seemore{
      font-size: 14px;
      color: $text-green;
      margin: 10px 0;
    }
  }

}