.Wish{
	color: $text-green;
	//text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
	font-weight: bold;
  z-index: 2;
	cursor: pointer;
}

.animation{
	animation: 0.2s ease-out 0s 1 activeHeart;
}
@keyframes activeHeart {
  0% {
		font-size: 14px;
		margin: 0;
	}
	50% {
		font-size: 22px;
		margin: 0 -3px -3px 0;
  }
  100% {
		font-size: 14px;
		margin: 0;
  }
}
