.WishItem{
  font-size: 14px;
  padding: 20px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  .image{
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 0;
    cursor: pointer;
  }
  .detail{
    .title{
      cursor: pointer;
      line-height: 1.5em;
      height: 1.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .price{
      font-size: 18px;
      color: $text-green;
    }
    .place{
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      margin: 0 auto;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    .description{
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 40px;
      margin: 0 auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .status{
    
  }
  .space{

  }
  .option{
    float: right;
    margin: -20px;
    .view{
      width: 100%;
      .fa{
        font-size: 18px;
      }
      button{
        width: 90px;
        height: 80px;
        border: none;
        border-radius: 4px;
        border: 1px solid $border-color;
        background: none;
        box-sizing: border-box;
      }

    }
    .delete{
      width: 100%;
      .fa{
        font-size: 18px;
      }
      button{
        width: 90px;
        height: 80px;
        border: none;
        border-radius: 4px;
        border: 1px solid $border-color;
        background: none;
        box-sizing: border-box;
      }
    }
  }
}