.PropShop.end {
	#Home {
		.layout-left {
			position: absolute;
			bottom: 0;
			.BannerRealEstate  {
				padding: 0;
			}
		}
	}
	#Footer {
		visibility: visible !important;
	}
}

#Home {

	height: 100%;

	> .row {
		height: 100%;
		margin: 0;
		position: relative;
	}

	.layout-left {
		height: 100%;
		position: fixed;
		padding: 0;
	}
	.layout-right {
		padding: 0;
	}

	.filter_real_estate {
		padding: 20px;
		.ant-tabs-bar {
			border: 0;
		}
		.ant-tabs-nav .ant-tabs-tab {
			font-family: $sukumvit-bold;
			color: #999999;
		}
		.ant-tabs-nav .ant-tabs-tab-active {
			font-family: $sukumvit-bold;
			color: $text-default;
		}
		.ant-tabs-ink-bar {
			height: 3px;
    	background-color: #87b840;
		}
		.ant-tabs-tabpane .row {
			margin-bottom: 10px;
		}
		.ant-tabs-tabpane .row > div {
			padding-left: 5px;
			padding-right: 5px;
		}
		.ant-tabs-tabpane .row > div:first-child {
			padding-left: 15px;
		}
		.ant-tabs-tabpane .row > div:last-child {
			padding-right: 15px;
		}
		.price_length {
			.ant-slider {
				width: 80%;
		    text-align: center;
		    margin: 10px auto;
			}
	    .ant-slider-track {
	    	background: #4d790a;
	    }
	    .ant-slider-handle {
	    	background: #82b23e;
   		 	border-color: #4d790a;
	    }
	    .ant-slider:hover .ant-slider-handle {
	    	background: #82b23e;
	    }
	    .ant-slider:hover .ant-slider-track {
	    	background: #4d790a;
	    }
	    .ant-slider-handle:active {
	    	box-shadow: none;
	    }
		}
		.col-residential-type {
			width: 18%;
		}
		.col-room {
			width: 13%;
		}
		.col-advance {
			width: 22.67%;
			.btn-filter_advance.active {
				background: $text-default;
			}
		}
	}

	.filter_advance {
		margin-top: 20px;
	}

	.list {
		h3 {
			font-family: $sukumvit-bold;
		}
	}

	.result {
		padding: 15px;
		position: relative;
		.list {
			li.item {
				padding: 0;
				padding: 0 8px 8px 0;
			}
			li.item:first-child {
				// padding-left: 15px;
			}
		}
	}

}