.PropShop.end {
	#Home {
		.layout-left {
			position: absolute;
			bottom: 0;
			.BannerRealEstate  {
				padding: 0;
			}
		}
	}
	#Footer {
		visibility: visible !important;
	}
}

#Home {

	height: 100%;

	> .row {
		height: 100%;
		margin: 0;
		position: relative;
	}

	.layout-left {
		height: 100%;
		position: fixed;
		padding: 0;
	}
	.layout-right {
		padding: 0;
	}

	.filter_real_estate {
		padding: 20px;
		.ant-tabs {
			overflow: visible;
		}
		.ant-tabs-bar {
			border: 0;
		}
		.ant-tabs-nav .ant-tabs-tab {
			font-family: $sukumvit-bold;
			color: #999999;
		}
		.ant-tabs-nav .ant-tabs-tab-active {
			font-family: $sukumvit-bold;
			color: $text-default;
		}
		.ant-tabs-ink-bar {
			height: 3px;
    	background-color: #87b840;
		}
		.ant-tabs-tabpane .row {
			margin-bottom: 10px;
		}
		.ant-tabs-tabpane .row > div {
			padding-left: 5px;
			padding-right: 5px;
		}
		.ant-tabs-tabpane .row > div:first-child {
			padding-left: 15px;
		}
		.ant-tabs-tabpane .row > div:last-child {
			padding-right: 15px;
		}
		.price_length {
			.ant-slider {
				width: 80%;
		    text-align: center;
		    margin: 10px auto;
			}
	    .ant-slider-track {
	    	background: #4d790a;
	    }
	    .ant-slider-handle {
	    	background: #82b23e;
   		 	border-color: #4d790a;
	    }
	    .ant-slider:hover .ant-slider-handle {
	    	background: #82b23e;
	    }
	    .ant-slider:hover .ant-slider-track {
	    	background: #4d790a;
	    }
	    .ant-slider-handle:active {
	    	box-shadow: none;
	    }
		}
		.col-room {
			width: 100px;
		}
		.col-advance {
			// width: 22.67%;
			.btn-filter_advance.active {
				background: $text-default;
			}
		}
		.Select.active,
		.SelectRoom.active,
		.SelectElectricTrain.active,
		.SelectElectricTrainStation.active,
		.SelectRadius.active {
			.ant-select-selection--single {
				background: none;
			}
		}
		.SelectPrice {
			.ant-select-selection--single.active {
				background: none;
			}
		}
		.price-lenght-block {
			.active {
				.ant-select-selection--single {
					background: none;
				}
			}
		}
	}

	.filter_advance {
		margin-top: 20px;
	}

	.list {
		h3 {
			font-family: $sukumvit-bold;
		}
	}

	.search-filter{
		position: fixed;
		z-index: 10;
		background: white;
		width: 50%;
	}

	.result {
		padding: 15px;
		position: relative;
		.list {
			ul{
				margin-top: 10px;
			}
			li.item {
				padding: 0;
				padding: 0 8px 8px 0;
			}
			li.item:first-child {
				// padding-left: 15px;
			}
		}
	}

	@media (min-width: 992px) and (max-width: 1463px) {
		// .filter_real_estate .col-advance {
		// 	margin-top: 10px;
		// }
	}

	@media (min-width: 1463px) and (max-width: 1489px) {
		// .filter_real_estate .col-advance {
		// 	width: 20%;
		// }
	}

	@media (min-width: 1490px) and (max-width: 1517px) {
		// .filter_real_estate .col-advance {
		// 	width: 21%;
		// }
	}

	@media (min-width: 1518px) and (max-width: 1537px) {
		// .filter_real_estate .col-advance {
		// 	width: 22%;
		// }
	}

	@media (min-width: 992px) and (max-width: 1178px) {
		// .col-bathroom {
		// 	margin-top: 10px;
		// }
	}

	@media (max-width: 991px) {
		// .filter_real_estate {
		// 	.col-room {
		// 		width: 11%;
		// 	}
		// 	.col-residential-type,
		// 	.col-room,
		// 	.col-advance {
		// 		margin-top: 12px;
		// 	}
		// }
	}

	@media (max-width: 767px) {
		.filter_real_estate {
			// .price_length .ant-slider {
			// 	width: 90%;
			// }
			// .col-residential-type {
			// 	margin-left: 10px;
			// }
			// .col-advance {
			// 	min-width: 140px !important;
    		// 	padding: 0 !important;
    		// 	margin-right: 15px;
			// }
			// .col-residential-type,
			// .col-room,
			// .col-advance {
			// 	margin-top: 20px;
			// }
			// .ant-tabs-tabpane .row > div {
			// 	margin-bottom: 10px;
			// }
			.ant-tabs-tabpane .row_1 {
				margin-bottom: 0;
			}
			.ant-tabs-tabpane .row > div {
				padding-right: 15px;
				padding-left: 15px;
				margin-bottom: 10px;
			}
		} 
	}

	@media (min-width: 400px) and (max-width: 767px) {
		.result .list .item {
			width: 50%;
			float: left;
		}
	}

	@media (max-width: 510px) {
		// .filter_real_estate {
		// 	.col-advance {
		// 		margin-left: 15px;
		// 		margin-top: 0;
		// 	}
		// }
	}

}