#MyProperty {
  h1 {
    font-family: $sukumvit-bold;
    color: $text-green;
    font-size: 36px;
  }
  .property-list {
    .property-block {
      margin-bottom: 20px;
    }
  }
  .property-pagination {
    text-align: center;
  }
}