#PropertyEdit {
  #Sell {
    .container {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    #Step0 > .container > .row > .col-md-10 {
      width: 100%;
      margin-left: 0;
    }
    #Step0 h1 {
      margin-top: 0;
    }
  }
}