#Profile {

	height: 100%;

	> .row {
		height: 100%;
		margin: 0;
	}

	.layout-left {
		height: 100%;
		position: fixed;
		padding: 0;
		background: #f6f6f6;
	}

	.layout-right {
		.layout-container {
			h1 {
				font-family: $sukumvit-bold;
				font-size: 36px;
				color: $text-green;
			}
			.form {
				margin-top: 20px;
				border: 1px solid $border-color;
				border-radius: 4px;
				section {
					border-bottom: 1px solid $border-color;
					padding-bottom: 20px;
				}
				section:last-child {
					border-bottom: 0;
				}
				.title {
					font-family: $sukumvit-semibold;
					font-size: 18px;
					padding: 20px;
				}
				.form-group-phone {
					.col-md-6:first-child {
						padding-right: 0;
					}
				}
				.uploadImage-block {
					cursor: pointer;
					border: 1px solid $border-color;
				  padding: 4px;
				  border-radius: 4px;
				  width: 120px;
				  height: 120px;
				  line-height: 130px;
				  text-align: center;
				  .uploadImage-bg {
				  	background: #f6f6f6;
				    width: 100%;
				    height: 100%;
				    .fa {
				    	font-size: 60px;
				    }
				  }
				}
				.uploadImage-block.has-image {
					width: 200px;
					height: inherit;
    			line-height: inherit;
				}
				.btn-action {
					text-align: center;
    			margin: 40px 0;
				}
			}
		}
	}

}