#Sell {

	min-height: 100vh;

	.steps {
		margin: 25px 0;
		.ant-steps-title {
			font-family: $sukumvit-semibold;
		}
		.ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner {
			border-color: #84b43e;
    	background-color: #84b43e;
		}
		.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon {
    	color: #ffffff;
		}
		.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner {
	    border-color: #84b43e;
	    background-color: #84b43e;
		}
	}

	h1 {
		font-family: $sukumvit-bold;
		font-size: 36px;
		color: $text-green;
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;
	}

	.action {
		margin: 40px 0;
	}

	#Step0 {
		section {
			margin: 30px 0;
			h4 {
				margin: 0 0 20px 30px;
				font-family: $sukumvit-semibold;
				font-size: 18px;
			}
		}
			
		.custom-col {
			> .row > div {
				padding-right: 5px;
    		padding-left: 5px;
			}
			> .row > div:first-child {
				padding-left: 15px;
			}
			> .row > div:last-child {
				padding-right: 15px;
			}
		}
	}
		
	#Step1 {
		.SpecialFeature {
			h4 {
				display: none;
			}
			.foot {
				.btn-main {
					display: none;
				}
			}
		}
	}

	#Step2 {
		.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
			height: 42px;
		}
		.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
			font-family: $sukumvit-semibold;
			font-size: 18px;
			color: #000000;
			padding: 7px 20px;
		}
		.main-image {
			.image-name {
				font-size: 12px;
				font-weight: bold;
			}
			.image-size {
				font-size: 12px;
				color: $text-gray;
			}
		}
	}

	#Step3 {
		.form {
			border: 1px solid #cccccc;
	    border-radius: 4px;
	    padding: 30px;
	    margin-bottom: 10px;
		}
	}

	@media screen and (max-width: 991px) {
		#Step0 .custom-col > .row > div {
			padding-right: 15px;
    	padding-left: 15px;
		}
		#Step0 section {
			padding: 0 20px;
		}
	}

	@media screen and (max-width: 555px) {
		.ant-steps .ant-steps-item {
			display: block;
			width: 100% !important;
			margin: 20px 0;
		}
	}
	
}