// Font
@import 'font/sukhumvitset/stylesheet.css';
@import 'libraries/font-awesome/4.7.0/css/font-awesome.css';
@import 'libraries/font-propshop/css/Glyphter.css';

// Variable
@import 'stylesheet/variable';

// Image Gallery
@import "node_modules/react-image-gallery/styles/scss/image-gallery-no-icon.scss";

// Ant Design
@import '~antd/dist/antd.css';

// Main
@import 'stylesheet/main';

// Pages
@import 'stylesheet/pages/home';
@import 'stylesheet/pages/sell';
@import 'stylesheet/pages/agent';
@import 'stylesheet/pages/agent-detail';
@import 'stylesheet/pages/realestate';
@import 'stylesheet/pages/login';
@import 'stylesheet/pages/register';
@import 'stylesheet/pages/forgotpassword';

// Containers
@import 'stylesheet/containers/header';
@import 'stylesheet/containers/footer';
@import 'stylesheet/containers/banner-realEstate';
@import 'stylesheet/containers/property-list';
@import 'stylesheet/containers/nearby-place';
@import 'stylesheet/containers/social-login';

// Components
@import 'stylesheet/components/button';
@import 'stylesheet/components/input';
@import 'stylesheet/components/select';
@import 'stylesheet/components/checkbox';
@import 'stylesheet/components/radio';
@import 'stylesheet/components/rate';
@import 'stylesheet/components/real_estate_item';
@import 'stylesheet/components/notification';